h1{
    display: flex;
    justify-content: center;
}
.cardMatriz{
    display: flex;
    justify-content: center;
    margin: 30px;
}
.imagenPrincipal{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    
}
h1, h2, h3 {
    font-family: 'Raleway', sans-serif;
}

p{
    font-family: 'Roboto', sans-serif;
}

.contenedorPrincipal{
    margin-top: 50px ;
    margin-bottom: 20px;
}

.textoPrincipal{
    margin: 10px;
    margin-left: 30px;
    margin-right: 30px;
    text-align:justify;
}

.formulario{
    font-family: 'Roboto', sans-serif;
    margin-left: 30px;

}

.botones{
    border: 0;
    background-image: linear-gradient(150deg, #899aa1,#bda2a2,#fbbe9a);
    border-radius: 8px;
    color: #fff;
    font-family:'Roboto', sans-serif ;
    display: flex;
    justify-content: center;
    font-size: 18px;
    padding: 4px;
    cursor: pointer;
}